.drink-div{
  background-size: cover;
  background-position: center;
}

#esp-img{
  background-image: url("img/esspresso.jpg");
  height: 65%;
}

#latte-img{
  background-image: url("img/latte_.jpg");
  height: 65%;
}

#capu-img{
  background-image: url("img/cappu.jpg");
  height: 60%;
  padding-top: 10px;
}

.det-text{
  padding-left: 20px;
  width: 32%;
  height: .det-img.height;
  background-color: white;
  outline: 1px;
  margin-right: 20px;
  font-size: 11pt;
}

.det-img{
width: 100%;
height: 100%;
outline: 6px solid white;

}