
#hero-beans{
	background-image: url("img/beans.jpg");
	background-size: cover;
	background-attachment: fixed;

	position: absolute;
	z-index: 1;

	top: 0px;
	right: 0px;

	width: 51%;
	height: 100%;
}


#second-header{
	color: white;
}

#home-wrapper{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 10%;

	position: relative;
	z-index: 2;
}
